@charset "UTF-8";
* {
  margin: 0rem;
  padding: 0rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*-------------------------------------------------INDEX------------------------------------------------------*/
.alert_div {
  color: #eee;
  background: linear-gradient(153deg, #033558 0%, #05ffac 100%);
}

.alert_coupon {
  border: dotted;
}

div {
  font-family: "poppins", sans-serif;
  font-size: larger;
  font-weight: 600;
}

.btn__whatsapp {
  height: 3rem;
  width: 3rem;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

/*

*/
.btn__wsp {
  height: 12rem;
  width: 12rem;
}

#testimonios {
  padding: 0.8rem;
  text-decoration: none;
  color: floralwhite;
}

#testimonios:hover {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  color: black;
  -webkit-transition: ease-in-out 0.6s;
  transition: ease-in-out 0.6s;
}

.logo {
  width: 4rem;
  height: 4rem;
  border-radius: 26rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 900;
  color: #444444;
}

.intro {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.intro__header {
  font-size: 12rem;
  background: #055d9b;
  background: linear-gradient(153deg, #033558 0%, #05ffac 100%);
  background: -webkit-linear-gradient();
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 762px) {
  .intro__header {
    font-size: 6rem;
  }
}

.intro__notice {
  color: #444444;
}

.intro__bottom {
  width: 52rem;
  height: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  line-height: 2rem;
  font-family: "poppins" sans-serif;
  font-size: 1.2rem;
  color: #444444;
  margin-top: 2rem;
}

.intro__img {
  width: 38rem;
  height: 38rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 14em;
  margin-top: -1rem;
}

span {
  color: darkorange;
}

/*


.footer {
	font-family: "poppins" sans-serif;
	
	text-transform: uppercase;

	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 75% 25%;
	align-items: center;
	justify-content: space-around;
	margin-top: -20rem;
}

.footer__social {
	display: flex;
	height: 8rem;
}

.footer__pagos {
	display: flex;
	justify-content: center;
	margin-top: 4rem;
}

.footer__pagos-text {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.footer__pagos-img {
	display: flex;
	width: 25%;
	height: auto;
}

.footer__copy {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.footer__end {
	display: flex;
}
*/
/* agregué esto */
.background-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 0;
}

.background-image2 {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 0%;
}

.background-image-footer {
  position: absolute;
  z-index: -1;
  width: 100vw;
  margin-top: -30rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*-------------------------------------------------SERVICIOS------------------------------------------------------*/
/*




*/
.servicios {
  border: none;
  background-color: #7d2ae8;
  color: seashell;
  border-radius: 1.8rem;
  padding: 1rem;
  -webkit-box-shadow: #999999 0.2rem 0.1em 1rem 0.1rem;
          box-shadow: #999999 0.2rem 0.1em 1rem 0.1rem;
}

.servicios:hover {
  background-color: #ef7b00;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  color: #7d2ae8;
  -webkit-transition: ease-in-out 0.6s;
  transition: ease-in-out 0.6s;
  font-weight: bold;
}

/*-------------------------------------------------CONTACTO------------------------------------------------------*/
/*


*/
/*-------------------------------------------------FAQS------------------------------------------------------*/
.header_h1 {
  padding-left: 6rem;
}

/*-------------------------------------------------CONOCENOS------------------------------------------------------*/
.card-body-1 {
  background-image: url(https://www.welivesecurity.com/wp-content/uploads/2020/10/Office-365-blanco-apuntado-cibercriminales.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-body-2 {
  background-image: url(https://images.ctfassets.net/hrltx12pl8hq/7ydS9eSslHVY9i594H5upW/dd3101555781992a483d49721ff7b57a/02-vector-backgrounds_501924556.jpg?fit=fill&w=480&h=270);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-body-3 {
  background-image: url(https://cdn.pixabay.com/photo/2016/11/01/18/38/background-1789175_960_720.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-header {
  color: #444444;
}

.card-title {
  color: antiquewhite;
  padding: 1rem;
}

.card-text {
  color: gainsboro;
  padding: 1rem;
}

/*-------------------------------------------------REGISTRARSE------------------------------------------------------*/
.divider:after,
.divider:before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
/*# sourceMappingURL=estilos.css.map */